body{

	font-family: 'Righteous', cursive;*/

     /*background-color: black;*/
}

button,
div,
form,
input {
      margin: 10px;
    }

 /*#giphy-view{
 	float:left;
 }*/

 /*.container{
 	display: flex;
 }*/

 /*.myGiphs{
 	flex-direction: row;
 }*/

#giphy-view{

	display: flex;
	flex-wrap:wrap;
}

.pause{
	border-width: 20px;
	border-color: blue;
}


